.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.searchBar {
  border-top: solid 1px;
  border-bottom: solid 1px;
  display: inline-block;
  width: 90%;
  margin-left: -10px;
  text-indent: 15px;
}

.searchIcon {
  align-self: right;
  border-top: solid 1px;
  border-bottom: solid 1px;
  margin-bottom: -15px;
  font-size: 39px;
}