<ion-header no-border>
    <ion-toolbar>
        <ion-title>
            Sopa de Letras
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating"></ion-label>
                    <ion-input placeholder="Pesquisa por Música ou Artista" [(ngModel)]="track" required></ion-input>
                    <ion-icon class="searchIcon" name="search" slot="end" (click)="findTrackName()"></ion-icon>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div *ngFor="let track of tracks">
                    <ion-card class="cardColour" [routerLink]="['/lyric', track.track.track_id]">
                        <ion-card-header>
                            <ion-card-subtitle class="textColor">{{track.track.track_name}} - <i>{{track.track.artist_name}}</i></ion-card-subtitle>
                        </ion-card-header>
                    </ion-card>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>