<ion-header>
    <<<<<<< HEAD <ion-toolbar>
        <ion-title>{{trackName}} - {{trackArtist}}</ion-title>
        </ion-toolbar>
        =======
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button defaultHref="/"></ion-back-button>
            </ion-buttons>
            <ion-title slot="end">{{trackName}} - {{trackArtist}}</ion-title>
        </ion-toolbar>
        >>>>>>> c429904029b928878cfac6cf415e05f339017048
</ion-header>

<ion-content>

    <div *ngFor="let item of (y | slice: 0:-4);">
        <p>{{item}}</p>

    </div>
    <!--     {{y}} -->
</ion-content>