<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-title>{{genreName}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col>
            <div *ngFor="let track of tracks">
                <ion-card class="cardColour" [routerLink]="['/lyric', track.track.track_id]">
                    <ion-card-header>
                        <ion-card-subtitle class="textColor">{{track.track.track_name}} -
                            <i>{{track.track.artist_name}}</i></ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </div>
        </ion-col>
    </ion-row>
</ion-content>